
body {
  font-family: Arial, sans-serif;
}

.search-page, .bookshelf-page {
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
  justify-self: center;
}

.search-results, .bookshelf {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  
}

.book-card {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.book-card button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.book-card.added button {
  background-color: green;
}